@model IEnumerable<CBook.Models.TheLoai>

<div  class="text-links categories-content metro-dropdown-menu; level-0 bold2">
    @foreach (var item in Model)
    {
        <a  href="~/Home/ThemesBook/@item.MaLoai" class="list-group-item">@item.TenLoai</a>
    }
</div>
