<div ID="pnl_guest">

    <input name="txtUsername" id="txtUsername" type="text" placeholder="Tài khoản">

    <input name="txtPass" id="txtPass" type="password" placeholder="Mật khẩu">
    <input name="Login" value="Đăng nhập"id="Login" title="Submit" OnClick="btnLogin_Click" type="submit">
    <input name="Login" value="Đăng ký" id="Login" title="Submit" OnClick="btnLogin_Click" type="submit">
    @* <asp:LinkButton ID="btnLogin" runat="server" OnClick="btnLogin_Click" Text="Đăng nhập" CausesValidation="False" />*@
    @*<a href="../DangKy.aspx">Đăng ký</a>*@
</div>

@*<div ID="pnl_user" runat="server">
    <asp:Label ID="lblChao" runat="server" Text="Label" ForeColor="White"></asp:Label>
    <asp:LinkButton ID="btnAdmin" runat="server" Text="Trang Quản Trị" OnClick="btnAdmin_Click" />
    <a href="TrangCaNhan.aspx">Thông tin cá nhân</a>
    <asp:LinkButton ID="btnLogout" runat="server" Text="Thoát" OnClick="btnLogout_Click" CausesValidation="False" />
</div>*@
