@model IEnumerable<CBook.Models.LienHe>

@{
    ViewBag.Title = "Phản hồi";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Phản hồi từ khách hàng</h2>

<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                Họ
            </th>
            <th>
                Tên
            </th>
            <th>
                Email
            </th>
            <th>
                Điện thoại
            </th>
            <th>
                Ngày cập nhật
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>

    </tbody>

</table>
